[submodule ".mintty/mintty-colors-solarized"]
	path = .mintty/mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".mintty/base16-mintty"]
	path = .mintty/base16-mintty
	url = https://github.com/iamthad/base16-mintty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".fonts/fonts"]
	path = .fonts/fonts
	url = https://github.com/powerline/fonts
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".gnome-terminal"]
	path = .config/gnome-terminal
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule ".vim/bundle/vim-ipython"]
	path = .vim/bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule ".vim/bundle/vim-http"]
	path = .vim/bundle/vim-http
	url = https://github.com/nicwest/vim-http
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure
    ignore = dirty
[submodule ".config/dircolors/dircolors-solarized"]
	path = .config/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/haskell-vim"]
	path = .vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule ".config/gnome-terminal-colors-solarized"]
	path = .config/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/colorshift"]
	path = .config/colorshift
	url = https://github.com/MatrixManAtYrService/colorshift
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/fzf"]
	path = .zsh/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-yaml-folds"]
	path = .vim/bundle/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/flyingmachine/emacs-for-clojure/
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".zsh/zsh-easy-motion"]
	path = .zsh/zsh-easy-motion
	url = https://github.com/IngoHeimbach/zsh-easy-motion
[submodule ".config/xresources"]
	path = .config/xresources
	url = https://github.com/solarized/xresources
